$black: #000;
$white: #fff;
$hoverColorShadow: #242424;
@mixin hoverBlackWhite {
  background-color: black;
  color: $white;
}

@mixin borderForIcon {
  border-radius: 8px;
  border: 1px solid $black;
}

@mixin button($width: 100, $height: 50, $bgColor: $black, $textColor: $white) {
  border-radius: 8px;
  width: $width;
  height: $height;
  background-color: $bgColor;
  color: $textColor;
}
.mobile {
  display: none;
}
header {
  padding-top: 36px;
  .main-header {
    display: flex;
    justify-content: space-between;
    gap: 275px;
    @media (max-width: 1320px) {
      gap: 107px;
    }
    align-items: center;
    .logo-personal {
      display: flex;
      align-items: center;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      letter-spacing: -2%;
      &::before {
        content: url(/assets/svg/personal.svg);
      }
    }
  }
  .mobile {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    font-size: 16px;
  }
  .btn {
    @include button(133px, 58px);
    .fa-download {
      color: $white;
      margin-left: 8px;
    }
  }
  @media (max-width: 965px) {
    .dekstop {
      display: none;
    }
    .mobile {
      display: flex;
      .btn {
        @include button(32px, 32px, $white, $black);
        font-size: 32px;
      }
    }
  }
}

h1 {
  font-size: 48px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: 1278px) {
    padding-bottom: 48px;
    padding-top: 48px;
  }
  @media (max-width: 720px) {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}
section:nth-child(2) {
  padding-bottom: 0;
}
section:nth-child(4) {
  background-color: black;
}

section:nth-child(6) {
  background-color: black;
}

.normal {
  font-weight: 400;
}

.hero {
  position: relative;
  display: flex;
  @media (max-width: 1279px) {
    position: static;
    flex-direction: column;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  @media (max-width: 1320px) {
    .container {
      padding: 0 40px;
      @media (max-width: 720px) {
        padding: 0 20px;
      }
    }
  }
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 48px;
  height: 100%;
  @media (max-width: 1279px) {
    position: static;
    order: 1;
  }
}

.hero-links {
  display: flex;
  gap: 48px;

  @media (max-width: 960px) {
    gap: 24px;
  }
  @media (max-width: 720px) {
    gap: 16px;
  }
  .hero-links_border {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    height: 64px;
    width: 64px;
    @include borderForIcon;
    @media (max-width: 720px) {
      height: 48px;
      width: 48px;
      font-size: 28px;
    }

    &:hover {
      @include hoverBlackWhite();
    }
  }
  .hero-links_border > i:nth-child(2) {
    font-size: 26px;
    margin-top: 12px;
    margin-left: 2px;
    @media (max-width: 720px) {
      font-size: 18px;
      margin-top: 10px;
    }
  }
}

.hero-description {
  max-width: 701px;
  font-size: 24px;
  font-weight: 400;
  color: #00000099;
  @media (max-width: 1279px) {
    font-size: 20px;
    text-align: justify;
  }
}
.hero-title {
  @media (max-width: 720px) {
    font-size: 36px;
  }
  @media (max-width: 500px) {
    font-size: 30px;
  }
}

.hero-image {
  margin-left: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  transition: 0.3s;
  @media (max-width: 1270px) {
    padding: 0 32px;
  }
}

.skill-card {
  display: flex;
  height: 180px;
  flex: 0 1 186px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  @include borderForIcon;
  i {
    font-size: 48px;
  }
  p {
    font-size: 18px;
    font-weight: 800;
  }
  &:hover {
    @include hoverBlackWhite;
  }
  @media (max-width: 500px) {
    flex: 0 1 150px;
    height: 150px;
  }
}

.white {
  color: $white;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.experience {
  .header {
    @media (max-width: 720px) {
      font-size: 36px;
    }
  }
}
.experience-card {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid $white;
  .header-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .card-header {
    font-size: 30px;
    display: flex;
    align-items: center;

    img {
      margin-right: 24px;
    }

    @media (max-width: 950px) {
      font-size: 24px;
    }
    @media (max-width: 720px) {
      font-size: 18px;
    }
  }
  .card-description {
    font-size: 18px;
    line-height: 24px;
    @media (max-width: 720px) {
      font-size: 15px;
      line-height: 22px;
    }
  }
  .experience-icon {
    display: inline;
    width: 32px;
    height: 32px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 123px;

  @media (max-width: 1279px) {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .avatar-wrapper {
    flex: 0 0 495px;
    @media (max-width: 728px) {
    }
    .avatar {
      max-width: 100%;
    }

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }
}

.about-content {
  .header {
    text-align: left;
    @media (max-width: 728px) {
      font-weight: 400;
    }
    @media (max-width: 480px) {
      font-size: 36px;
    }
  }
  .about-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #00000099;
    @media (max-width: 960px) {
      line-height: 24px;
    }
    @media (max-width: 480px) {
      font-size: 15;
      line-height: 22px;
    }
  }
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project {
  display: flex;
  gap: 124px;

  @media (max-width: 1279px) {
    gap: 24px;
    flex-direction: column;
  }
  .project-image {
    height: 338px;
    border-radius: 20px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 495px;
    .number {
      font-size: 48px;
    }
    .project-title {
      font-size: 30px;
    }
    .project-description {
      color: #ffffff99;
    }
  }
  .more-btn {
    display: block;
    padding: 16px 20px;
    border-radius: 8px;
    margin-right: auto;
  }
}

.project:nth-child(even) {
  .project-image {
    order: 1;
    @media (max-width: 1279px) {
      order: unset;
    }
  }
}

.contacts {
  flex-shrink: 1;
  flex-grow: 2;
  max-width: 598px;
  h2 {
    font-size: 48px;
    line-height: 48px;
  }
  .description {
    margin: 32px 0;
    color: #00000099;
    line-height: 24px;
  }
}

.call-me {
  display: flex;
  justify-content: space-between;
  gap: 123px;

  form {
    font-size: 18px;
    display: flex;
    flex: 0 0 495px;
    flex-direction: column;
    height: 515px;
    gap: 20px;

    input,
    textarea {
      border: 1px solid grey;
      border-radius: 6px;
      padding: 12px;
      resize: none;
    }
    input {
      height: 57px;
    }
    textarea {
      height: 200px;
    }
    .form-footer {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      .btn {
        font-size: 16px;
        font-weight: 800;
        @include button(143px, 64px);
        @media (max-width: 1279px) {
          display: flex;
          flex: 1 1;
          flex-direction: column;
          justify-content: center;
        }
      }
      .hero-links {
        justify-content: space-between;
        gap: 24px;
      }
      @media (max-width: 720px) {
        height: 132px;
        flex-direction: column;
        gap: 16px;
        .hero-links {
          justify-content: left;
        }
        .btn {
          @include button(100%, 54px);
        }
      }
    }
  }

  .contacts {
    margin-top: auto;
    margin-bottom: auto;

    .fa-envelope,
    .fa-phone {
      vertical-align: middle;
      font-size: 23px;
      margin-right: 15px;
    }
  }

  @media (max-width: 1279px) {
    flex-direction: column;
    gap: 24px;
    form {
      order: 1;
    }
    .description {
      margin: 24px 0;
    }
  }
  @media (max-width: 720px) {
    .description {
      font-size: 15px;
      line-height: 22px;
    }
    h2 {
      font-size: 36px;
      line-height: 100%;
    }
  }
}

.email,
.phone {
  font-size: 18px;
  font-weight: 600;
}

.email {
  margin-bottom: 12px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.label {
  font-size: 18px;
  font-weight: 800;
  line-height: 100%;
}

.experience-container .experience-card:hover {
  background-color: $hoverColorShadow;
}
